<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <services>
            <service behaviorConfiguration="AdviserSkypeDriver.CommSvcBehavior" name="AdviserSkypeDriver.CommSvc">
                <host>
                  <baseAddresses>
                    <add baseAddress = "net.pipe://localhost/SkypeDriver/" />
                  </baseAddresses>
                </host>
              
                <endpoint binding = "netNamedPipeBinding" contract="AdviserSkypeDriver.ICommSvc" />
                <endpoint address = "mex" binding = "mexNamedPipeBinding" contract = "IMetadataExchange" />               
            </service>
        </services>

        <behaviors>
          <serviceBehaviors>
            <behavior name="AdviserSkypeDriver.CommSvcBehavior">
              <serviceMetadata />
              <serviceDebug includeExceptionDetailInFaults="false" />
            </behavior>
          </serviceBehaviors>
        </behaviors>
    </system.serviceModel>
</configuration>
